.top .text {
    position: absolute;
    left: 55px;
    top: 8px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
}
.top .smallText {
    position: absolute;
    left: 55px;
    top: 38px;
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    padding-left: 2px;
    padding-top: 2px
}
.body {
    margin-top: 119px;
    box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    -o-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    min-height: 520px;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    background-color: #ffffff;
    padding: 5px;
    padding: 12px;
    width: 1000px;
}
.footer {
    margin-top: 2px;
    font-size: 10px;
    margin-bottom: 5px;
}
.menu {
    box-shadow: 0 0 30px #888;
    -webkit-box-shadow: 0 0 30px #888;
    -o-box-shadow: 0 0 30px #888;
    -moz-box-shadow: 0 0 30px #888;
    background: rgb(0, 154, 163);
    height: 35px;
    border-bottom: 2px solid rgb(0, 128, 137);
    border-top: 1px solid rgb(0, 128, 137)
}
::selection {
    color: white;
    background-color: rgb(0, 154, 163)
}
.menu .sub {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    position: relative;
    height;
    margin-top: 4px
}
.menu .sub a,
.button {
    min-width: 90px;
    text-align: center;
    color: #d3d3d3;
    background: rgb(250, 253, 41);
    border-radius: 15px;
    display: inline-block;
    padding: 4px;
    margin-right: 0px;
    text-decoration: none;
}
.menu .sub a:hover,
.button:hover {
    color: black;
    font-weight: bold;
}
td {
    vertical-align: top
}
.result {
    width: 400px;
    margin-right: 10px
}
.result > .content {
    border-radius: 0px 0px 15px 15px;
    width: auto;
    min-height: 332px;
    background: url(/ButtonGenerator/images/pattern1.png)
}
.result > .content > div {
    display: none;
    position: relative
}
.cards {
    background-color: #ffffff;
    padding-top: 5px;
    border-radius: 5px 5px 0 0;
    padding-left: 5px;
    padding-right: 5px
}
.shadow {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
.button.active {
    background: url(/ButtonGenerator/images/pattern1.png);
    color: rgb(0, 128, 137);
    font-weight: bold;
}
.cards .button {
    border-radius: 5px 5px 0 0;
}
input[type="text"].text {
    width: 75%;
    border-radius: 15px;
    outline: none;
    outline-color: orange;
    padding: 2px 2px 2px 5px;
    margin-top: 5px;
    border: 1px solid rgb(0, 128, 137);
    font-size: 16px;
    background-color: rgb(252, 252, 252);
    -moz-box-shadow: 0 0 5px #B9B3B3;
    -webkit-box-shadow: 0 0 5px#B9B3B3;
    box-shadow: 0 0 5px #B9B3B3;
}
select {
    width: 100%;
    border-radius: 15px;
    outline: none;
    outline-color: orange;
    padding: 2px;
    margin-top: 5px;
    border: 1px solid rgb(0, 128, 137);
    font-size: 16px;
    background-color: rgb(252, 252, 252);
    -moz-box-shadow: 0 0 5px #B9B3B3;
    -webkit-box-shadow: 0 0 5px#B9B3B3;
    box-shadow: 0 0 5px #B9B3B3;
}
.caption {
    font-size: 13px;
    margin-top: 6px;
}
textarea {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: orange none;
    padding: 2px;
    border: 1px solid rgb(0, 128, 137);
    font-size: 16px;
    background-color: rgb(252, 252, 252);
    -webkit-box-shadow: rgb(185, 179, 179) 0px 0px 5px;
    box-shadow: rgb(185, 179, 179) 0px 0px 5px;
    margin: auto;
    display: block;
    resize: vertical;
}
.h {
    color: rgb(0, 128, 137);
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
    border-bottom: 3px solid
}
.slider {
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
}
.slider > input {
    border-radius: 15px !important;
    width: 60px !important;
    text-align: center !important;
    background: rgb(0, 128, 137) !important;
    padding: 1px !important;
    font-size: 13px !important;
    color: white !important
}
.slider > div {
    display: inline-block;
    width: 210px;
    position: absolute;
    right: 0px;
    bottom: 4px;
}
.colorSelector div {
    width: 28px;
    height: 28px;
    background: url(./images/select2.png) center;
}
.colorSelector {
    display: inline-block
}
.colorline {
    text-align: center;
    padding-bottom: 5px;
}
.colorline > span {
    position: relative
}
.colorPickerWindow {
    position: absolute;
    bottom: 32px;
    right: 0px;
    z-index: 2;
}
.group {
    position: relative;
    font-size: 13px !important;
    background: #84c0e0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 1px;
    border-radius: 5px;
    margin-top: 5px;
}
.marginTop {
    margin-top: 10px
}
.overText {
    top: 0px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 100%
}
.overText .message {
    border-radius: 10px;
    max-width: 700px;
    background: rgb(245, 242, 242);
    -moz-box-shadow: 0 0 15px #fff;
    padding: 15px;
    -webkit-box-shadow: 0 0 15px #fff;
    box-shadow: 0 0 15px #fff;
    display: inline-block;
    min-width: 350px;
    min-height: 50px;
}
.overText tr {
    text-align: center
}
.overText td {
    vertical-align: middle
}
.topBar {
    box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    -o-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    height: 13px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(80, 75, 75);
}
.topBar > div {
    padding-top: 1px;
    font-size: 10px;
    color: white !important
}
.rel {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    background-image: url(/ButtonGenerator/images/pattern2.png);
}
.tzatko {
    transition: none;
    display: inline-block;
    cursor: pointer;
    background: url(http://tim.tw-calc.net/images/logo/logo_small.png?2);
    background-position: 0px 0px;
    width: 40px;
    height: 40px;
}
.tzatko:hover {
    transition: none;
    background-position: 40px 0px;
}